<h1>Welcome to Sports League</h1>

<!-- Access to Team Portal -->
<a class="btn btn-default" role="button" href="/teamportal">Manage Teams</a>
<br>
<!-- Access to Player Portal -->
<a class="btn btn-default" role="button" href="/playerportal">Manage Players</a>
<br>
<!-- League Information -->
<a class="btn btn-default" role="button" href="/information">View League Information</a>
<br>
<!-- Free Agents -->
<a class="btn btn-default" role="button" href="/freeagents">View Free Current Free Agents</a>
<br>
<!-- Team Rosters -->
<a class="btn btn-default" role="button" href="/rosters">View Team Rosters</a>

